# Room 68 Environment Variables

# Your private key for deploying contracts (DO NOT COMMIT)
# Get testnet USDC from https://faucet.circle.com (select ARC Testnet)
PRIVATE_KEY=your_private_key_here

# ARC Testnet RPC
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network

# After deployment, these will be populated in deployment.json
# You can also set them here for scripts:
# ROOM68_TOKEN_ADDRESS=
# LIVING_SPACE_NFT_ADDRESS=
# LIVING_SPACE_MARKET_ADDRESS=
# LENDING_POOL_ADDRESS=
# COMPETITION_MANAGER_ADDRESS=
# SWAP_BRIDGE_ADDRESS=
